.bodybor {
    position: absolute;
    border: 1px solid;
    height: 400px;
    width: 400px;
    left: 450px;
    top: 70px;
    background-color: #ffffffc5;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0px 0px 35px silver;
    /* border-color: green; */
}

.sing {
    position: relative;
    height: 100px;
    background-color: rgb(38, 168, 38);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.sign1 {
    position: relative;
    top: 35px;
    color: #fff;
    letter-spacing: 1px;
}

#inputPassword2 {
    position: relative;
    top: 30px;
    height: 40px;
    width: 70%;
    border-radius: 25px;
    background-color: rgba(192, 192, 192, 0.432);
    left: 60px;
    border-style: none;
}

#inputPassword2::placeholder {
    color: black;
    letter-spacing: 0.5px;

}

#inputPassword3 {
    position: relative;
    top: 60px;
    height: 40px;
    width: 70%;
    border-radius: 20px;
    background-color: rgba(192, 192, 192, 0.432);
    left: 60px;
    border-style: none;
}

#inputPassword3::placeholder {
    color: black;
    letter-spacing: 0.5px;

}

.inputPassword4 {
    position: relative;
    top: 130px;
    height: 40px;
    width: 69%;
    border-radius: 45PX;
    background-color: rgb(11, 211, 11);
    letter-spacing: 0.7PX;
    border-style: none;
    color: #fff;
    font-size: 17px;
}